a {
  text-decoration: none;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

#logo {
  text-align: center;
  margin: 0;
  /*properties might take keyword values, numeric values or both of them
  keyword values have auto-suggestion from the workspace*/
}